<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
  </head>
  <body>
    <table style="width:600; margin-left:auto; margin-right:auto;">
      <tr width="100%">
        <td style="padding-right:25px"></td>
        <td>
          <img src="http://ievent.lemonhut.net/images/logo.png" style="width:500px; height:500px;"/>
        </td>
        <td style="padding-right:25px"></td>
      </tr>
      <tr width="100%">
        <td style="padding-right:25px"></td>
        <td>
          <h1 style="text-align:center;">iEvent</h1>
        </td>
        <td style="padding-left:25px"></td>
      </tr>
    </table>
  </body>
</html>