<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<rewrite>
			<rules>
				<rule name="Do Not Rewrite" enabled="true" stopProcessing="true">
					<match url="index.php|robots.txt|images" />
					<action type="None" />
				</rule>
				<rule name="Rewrite CI Index" enabled="true" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" pattern="\.(css|js|jpg|jpeg|png|gif|ico|htm|html)$" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php/{R:0}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
