<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iEvent - Online Event Management</title>
</head>
<body>
    <h1>iEvent</h1>
    <div class="navbar">
        <div class="navbar-right">
            <div class="search">
                <div class="input" type="text">Search</div>
            </div>
           <div class="login">
               Login
           </div>
        </div>
    </div>
</body>
</html>