<% include index.ejs %>

<div class="header">
    <img class="logo-img" src="/public/assets/iEvent-logo.jpg" alt="logo">
  </div>
  
  <div class="topnav">
    <a href="#">Home</a>
    <a href="#">Event Manager</a>
    <a href="#">Stuff</a>
    <a class="active" href="/user/" style="float:right">Profile</a>
  </div>